.input-box{
    padding: 10px 18px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 15px;
    flex-grow: 1;
    }
.send-button{
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    margin-left: 10px;
    background-color: black;
    color: #ffffff;
}
.chat-input-section{
    display: flex;
    margin-bottom: 50px;
}
.loading-gif{
    height: 40px;
    margin: -15px;
    margin-left: 0px;
}
.loading-message{
    display: flex;
    align-items: center;
    justify-content: center;
}
.thinking-message{
    color: #6b6b6b;
}